__pycache__
dynonet.egg-info

/examples/WH2009/data/
/examples/WH2009/models/
/examples/BW/data/
/examples/BW/models/
/examples/EMPS/data/
/examples/EMPS/models/
/examples/RLC/data/
/examples/RLC/models/
/examples/ParWH/data/
/examples/ParWH/models/model_PWH/
/examples/coupled_drive/data/
/examples/coupled_drive/models/
/examples/Silverbox/data/
/examples/Silverbox/models/
/torchid/old/
/sphinx/build/

/doc/slides/presentation_main.aux
/doc/slides/presentation_main.nav
/doc/slides/presentation_main.out
/doc/slides/presentation_main.log
/doc/slides/presentation_main.snm
/doc/slides/presentation_main.toc
/doc/slides/presentation_main.vrb
/doc/paper/ms.synctex.gz
/doc/paper/ms.log
/doc/paper/ms.dvi
/doc/paper/ms.blg
/doc/paper/ms.bbl
/doc/paper/ms.aux
