/examples/WH2009/data/
/examples/WH2009/models/
/examples/BW/data/
/examples/BW/models/
/examples/EMPS/data/
/examples/EMPS/models/
/examples/RLC/data/
/examples/RLC/models/
/examples/ParWH/data/
/examples/ParWH/models/model_PWH/
/examples/coupled_drive/data/
/examples/coupled_drive/models/
/examples/Silverbox/data/
/examples/Silverbox/models/
/torchid/old/
/sphinx/build/

/slides/presentation_main.aux
/slides/presentation_main.nav
/slides/presentation_main.out
/slides/presentation_main.log
/slides/presentation_main.snm
/slides/presentation_main.toc
/slides/presentation_main.vrb
